*{
    border : none ;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 5px;
    height: 10px;
    background: red;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(4, 65, 199);
    border-radius: 2px;
}

#layer{
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
}
#salles{
    grid-template-rows: 34% 1fr 1fr;
    grid-template-columns: 38% 17% 21.5% 22.5%;
    grid-template-areas: 'salle_conference . salle_serveurs salle_securite''Reception . . .''Reception . salle_personnel salle_archives';
}

#salle_conference{
    grid-area: salle_conference ;
}
#Reception{
    grid-area: Reception ;
}
#salle_serveurs{
    grid-area: salle_serveurs ;
}
/* #worker_container{
    grid-area: worker_container ;
} */
#salle_securite{
    grid-area: salle_securite ;
}
#salle_personnel{
    grid-area: salle_personnel ;
}
#salle_archives{
    grid-area: salle_archives ;
}

#salle_securite:has(.worker_container:empty),
#Reception:has(.worker_container:empty) ,
#salle_archives:has(.worker_container:empty) ,
#salle_serveurs:has(.worker_container:empty){
    background-color: rgba(255, 0, 0, 0.25);
}


.area_worker{
    width: 4vw ;
    margin-bottom: 2%;
    padding: 0;
    background: transparent;

    min-width: unset;
    aspect-ratio: 1/1;
    
    p{
        display: none;
    }
    img{
        flex-shrink: 0;
        width: 100%;
    }
}

    /* button{
        display: block;
        position: absolute;
        top: -10px;
        right: -10px;
        aspect-ratio: 1/1;
        width: 30px;
        height: 30px;
        border-radius: 1000px;
        background: red;
        font-family: monospace;
    } */
